<div class="navbar">
  <div class="logo-navbar">
      <%= link_to lists_path do %>
        <%= image_tag 'popcorn.jpg', alt: "app logo", class: "logo logo-round-shadow" %>
      <% end %>
  </div>


  <div class="navbar-links">
  <%= link_to "add a list", new_list_path, class: "btn btn-primary" %>
  </div>
</div>
